<h1>Edit your article and I will reanalyze it.</h1>
<form action="/articles/<%= @article.id %>" method="POST">

  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="article_title">Title</label>
  <input type="text" id="article_title" name="article[title]" value="<%= @article.title %>"></input>

  <label for="article_content">Content</label>
  <input type="text" id="article_content" name="article[content]" value="<%= @article.content %>"></input>

  <input type="submit" value="submit">Submit</input>

</form>
