
<!-- display analysis and pseudo_score -->

<h2>I've pseudo-analyzed this article for bias, accuracy, and balance. <a href="/users/dashboard">Visit your dashboard to see the score.</a></h2>
<br/>
<a href="/articles/new">Submit another article</a>
