
<!-- display analysis and pseudo_score -->

<h2>I've analyzed this articles and it scores a 78% for bias, accuracy, and balance.</h2>

<a href="/articles/new">Submit another article</a>

<a href="/users/dashboard">Return to your dashboard</a>
