<h1>Welcome to your dashboard, <%= @user.username %>!</h1>

<h2><a href="/articles/new">Click here to submit more articles for me to analyze.</a></h2>

<h2>Here are the articles I've already analyzed for you:</h2>

<!-- puts out a list of all articles this user has submitted -->

<a href="/sessions/logout">Log Out</a>
