<!DOCTYPE html>
<div>
<h1>About Barry</h1>
<h3>There are three problems with the way news is done today:</h3>
<p><li>1. There are no objective measures that can be represented numerically, no widely accepted scoring system, for the accuracy, bias, and balance of news.</li></p>
<li>2. Journalists and editors have emotions, which unavoidably and implicitly affects the work product. (This is not a criticism of the profession of journalism but a statement of what I believe to be a fact.)</li>
<p><li>3. Many people lack the awareness, time, motivation, and powers of discriminatory thought to consciously look for bias and lack of balance and accuracy in a news piece and then seek out, select and read other high-quality articles from reputable sources on the same topic to get the most complete perspective on an issue.</li></p>
<p>I predict that just as how today surgeons cannot make incisions more precise than a robot can, in the future, a journalist will no longer be able to collect and report the news with more precision than an artificial intelligence can. For a time, the AI will need the journalist to oversee its activities and make ethical judgment calls, but eventually, the AI will be able to act completely and unerringly independently.</p>
<p>Advances in cognitive technologies will make it possible to solve the aforementioned problems and do no less than revolutionize how news is collected, created, and delivered in a way that helps unify humanity around an exceedingly sophisticated, robust, and reliable news source.</p>
<p>I call my agent for achieving this vision Barry, simply because Barry sounds friendly, intelligent, and like someone dependable you can trust and count on to do the right thing. (To me, Barry sounds like a volunteer firefighter, a salt of the earth, straight-shooting midwestern type person with the highest moral character and unshakable values.)</p>
<p>Imagine a world in which Barry, a centralized artificial intelligence extended by a global network of AI journalists (JournoBots™️), makes it possible for everyone, regardless of language, literacy, or location, to have access to the absolute truth about what’s happening in the world. I’m talking about 100% accurate, unbiased, and balanced news for all people, everywhere on this planet and every other planet we decide to settle and live on as well.</p>
<p>Now, I acknowledge this vision is huge and will seem to border on science-fiction for some who are less initiated to the field of AI and its capabilities and potential. But I believe this (and much more!) will all be possible as the requisite technologies evolve and come alive.</p>
<p>All that said, since it’s early in my coding journey, I lack much of the knowledge and many of the skills necessary to bring my longrange vision for Barry to fruition. I’ll need help from people with specialized knowledge (I’ve already begun recruiting) if I want to make significant progress on this in a reasonable timeframe.</p>
<p>What I was able to do now, however, is write an early expression of a Version 1.0 of Barry, a news article pseudo-analyzer, while meeting the requirements for my second major project for the Flatiron School’s full-time Immersive Software Engineering course in which I am currently enrolled.</p>
<p>This is that expression.</p>
</div>
