<p>
“In a world deluged by irrelevant information, clarity is power.”
  - Yuval Noah Harari, first sentence, 21 Lessons for the 21st Century
<br>
<br>
Never in history has the accuracy and bias of news been as hotly debated as it is today. Regarldess of political affiliation, we have all experienced the consequences of news being “weaponized” and used against us. As a people, we are divided in our views in part because of the silo effect and how our information channels cultivate limited perspective and confirmation bias.
<br>
<br>
Imagine a world where all people have access to the truth about what’s happening all of the time…
<br>
<br>
Introducing, Barry.
<br>
<br>
Vision
<br>
Lifelong: Create a global integrated network of AI journalists that delivers 100% accurate, balanced, and unbiased news for all people, regardless of language, literacy, or location
<br>
<br>
Midrange: Develop an artificial intelligence that can independently construct high-quality and highly accurate, unbiased, and balanced news content
<br>
<br>
Near-term: Deliver a web-application and browser add-on/extension for consumers that scores news for accuracy, bias, and balance in-browser and suggests other high-quality articles on the same topic that, if read, will give the reader more of the whole picture
<br>
<br>
Mission
<br>
To help unify humanity by revolutionizing the way news is collected, created and delivered through the responsible use of technology
<br>
<br>

</p>
