<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Hi, I'm Barry.</h1>
    <br />
    <div class="content">
      <h2>I'm a web application written in Ruby, and an early expression of an idea for an artifical intellgence that will be able to score news on accuracy, bias, and balance. (Who knows...? One day I might even be able to report the news better than any human ever could!)</h2>
        <h3>Sign Up or Log In to submit articles that I'll pseudo-analyze and score for you.</h3>
          <br />
          <strong><a href="/registrations/signup">Sign Up</a></strong>
          <br />
          <br />
          <a href="/login">Log In</a>
          <br />
          <br />
      </div>
    </div>
</div>
