<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Hi! I'm Barry, a theoretical news analyzer AI.</h1>
    <br />
    <div class="content">
        <h2>Sign Up or Log In to submit articles that I'll pseudo-analyze and score for you.</h2>
          <br />
          <strong><a href="/registrations/signup">Sign Up</a></strong>
          <br />
          <br />
          <a href="/login">Log In</a>
          <br />
          <br />
      </div>
    </div>
</div>
