<img src="https://s3.amazonaws.com/project-barry/Logo.png" alt="barry">

<h1>Hello, my name is Barry! I'm going to revolutionize the way news is collected, created, and delivered!</h1>
<h1>This is application is an early expression of an idea for an app that scores news on accuracy, bias, and balance.</h1>

<h2>Sign up to submit articles that I'll analyze for accuracy, bias, and balance.</h2>
<form action="/users" method="POST">

  <label for="user_name">User</label>
  <input type="text" id="user_name" name="user[name]"></input>
<br>
<br>
  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]"></input>
<br>
<br>
  <label for="user_password">Password</label>
  <input type="text" id="user_password" Password"user[password]"input>
<br>
<br>
  <input type="submit">Submit</input>
<br>
<br>
</form>
